/logs
/logs
settings.json
00008101-0013589E02C2001E.zip
__pycache__/TIK_SIGNER.cpython-311.pyc
certs/00008101-000228622108001E/cert.mobileprovision
certs/00008101-000228622108001E/cert.p12
certs/00008101-000228622108001E/pass.txt
certs/00008101-000A55A63A98001E/cert.mobileprovision
certs/00008101-000A55A63A98001E/cert.p12
certs/00008101-000A55A63A98001E/pass.txt
certs/00008101-000D59493C50801E/cert.mobileprovision
certs/00008101-000D59493C50801E/cert.p12
certs/00008101-000D59493C50801E/pass.txt
certs/00008101-0011548002C1001E/cert.mobileprovision
certs/00008101-0011548002C1001E/cert.p12
certs/00008101-0011548002C1001E/pass.txt
certs/00008101-001245842669003A/cert.mobileprovision
certs/00008101-001245842669003A/cert.p12
certs/00008101-001245842669003A/pass.txt
certs/00008101-0013589E02C2001E/cert.mobileprovision
certs/00008101-0013589E02C2001E/cert.p12
certs/00008101-0013589E02C2001E/pass.txt
certs/00008101-0013781C3EC1001E/cert.mobileprovision
certs/00008101-0013781C3EC1001E/cert.p12
certs/00008101-0013781C3EC1001E/pass.txt
certs/00008101-0015791A2EFA001E/cert.mobileprovision
certs/00008101-0015791A2EFA001E/cert.p12
certs/00008101-0015791A2EFA001E/pass.txt
certs/00008101-001871391163001E/cert.mobileprovision
certs/00008101-001871391163001E/cert.p12
certs/00008101-001871391163001E/pass.txt
certs/00008101-001E29092669003A/cert.mobileprovision
certs/00008101-001E29092669003A/cert.p12
certs/00008101-001E29092669003A/pass.txt
danh_sach_100_UDID.txt
ipas.rar
ipas/com.ss.iphone.ugc.tiktok.lite_46.3.0_und3fined.ipa
ipas/TikTok_Lite_00008101-000228622108001E_Signed.ipa
ipas/TikTok_Lite_00008101-000A55A63A98001E_Signed.ipa
ipas/TikTok_Lite_00008101-000D59493C50801E_Signed.ipa
ipas/TikTok_Lite_00008101-0011548002C1001E_Signed.ipa
ipas/TikTok_Lite_00008101-001245842669003A_Signed.ipa
ipas/TikTok_Lite_00008101-0013589E02C2001E_Signed.ipa
ipas/TikTok_Lite_00008101-0013781C3EC1001E_Signed.ipa
ipas/TikTok_Lite_00008101-0015791A2EFA001E_Signed.ipa
ipas/TikTok_Lite_00008101-001871391163001E_Signed.ipa
ipas/TikTok_Lite_00008101-001E29092669003A_Signed.ipa
backup_libimobiledevice_20260912_185131/idevice_id.exe
backup_libimobiledevice_20260912_185131/idevicebackup.exe
backup_libimobiledevice_20260912_185131/idevicebackup2.exe
backup_libimobiledevice_20260912_185131/idevicebtlogger.exe
backup_libimobiledevice_20260912_185131/idevicecrashreport.exe
backup_libimobiledevice_20260912_185131/idevicedate.exe
backup_libimobiledevice_20260912_185131/idevicedebug.exe
backup_libimobiledevice_20260912_185131/idevicedebugserverproxy.exe
backup_libimobiledevice_20260912_185131/idevicedevmodectl.exe
backup_libimobiledevice_20260912_185131/idevicediagnostics.exe
backup_libimobiledevice_20260912_185131/ideviceenterrecovery.exe
backup_libimobiledevice_20260912_185131/ideviceimagemounter.exe
backup_libimobiledevice_20260912_185131/ideviceinfo.exe
backup_libimobiledevice_20260912_185131/idevicename.exe
backup_libimobiledevice_20260912_185131/idevicenotificationproxy.exe
backup_libimobiledevice_20260912_185131/idevicepair.exe
backup_libimobiledevice_20260912_185131/ideviceprovision.exe
backup_libimobiledevice_20260912_185131/idevicescreenshot.exe
backup_libimobiledevice_20260912_185131/idevicesetlocation.exe
backup_libimobiledevice_20260912_185131/idevicesyslog.exe
backup_libimobiledevice_20260912_185131/inetcat.exe
backup_libimobiledevice_20260912_185131/iproxy.exe
backup_libimobiledevice_20260912_185131/libbrotlicommon.dll
backup_libimobiledevice_20260912_185131/libbrotlidec.dll
backup_libimobiledevice_20260912_185131/libbrotlienc.dll
backup_libimobiledevice_20260912_185131/libcrypto-3-x64.dll
backup_libimobiledevice_20260912_185131/libiconv-2.dll
backup_libimobiledevice_20260912_185131/libidn2-0.dll
backup_libimobiledevice_20260912_185131/libimobiledevice-1.0.dll
backup_libimobiledevice_20260912_185131/libimobiledevice-glue-1.0.dll
backup_libimobiledevice_20260912_185131/libintl-8.dll
backup_libimobiledevice_20260912_185131/libnghttp2-14.dll
backup_libimobiledevice_20260912_185131/libnghttp3-9.dll
backup_libimobiledevice_20260912_185131/libplist++-2.0.dll
backup_libimobiledevice_20260912_185131/libplist-2.0.dll
backup_libimobiledevice_20260912_185131/libpsl-5.dll
backup_libimobiledevice_20260912_185131/libssh2-1.dll
backup_libimobiledevice_20260912_185131/libssl-3-x64.dll
backup_libimobiledevice_20260912_185131/libtatsu.dll
backup_libimobiledevice_20260912_185131/libunistring-5.dll
backup_libimobiledevice_20260912_185131/libusbmuxd-2.0.dll
backup_libimobiledevice_20260912_185131/libzstd.dll
backup_libimobiledevice_20260912_185131/plistutil.exe
backup_libimobiledevice_20260912_185131/zlib1.dll
ipas/TikTok_Lite_00008101-001871440A98001E_Signed.ipa
libimobile-suite-latest_w64/afcclient.exe
libimobile-suite-latest_w64/idevice_id.exe
libimobile-suite-latest_w64/idevicebackup.exe
libimobile-suite-latest_w64/idevicebackup2.exe
libimobile-suite-latest_w64/idevicebtlogger.exe
libimobile-suite-latest_w64/idevicecrashreport.exe
libimobile-suite-latest_w64/idevicedate.exe
libimobile-suite-latest_w64/idevicedebug.exe
libimobile-suite-latest_w64/idevicedebugserverproxy.exe
libimobile-suite-latest_w64/idevicedevmodectl.exe
libimobile-suite-latest_w64/idevicediagnostics.exe
libimobile-suite-latest_w64/ideviceenterrecovery.exe
libimobile-suite-latest_w64/ideviceimagemounter.exe
libimobile-suite-latest_w64/ideviceinfo.exe
libimobile-suite-latest_w64/idevicename.exe
libimobile-suite-latest_w64/idevicenotificationproxy.exe
libimobile-suite-latest_w64/idevicepair.exe
libimobile-suite-latest_w64/ideviceprovision.exe
libimobile-suite-latest_w64/idevicescreenshot.exe
libimobile-suite-latest_w64/idevicesetlocation.exe
libimobile-suite-latest_w64/idevicesyslog.exe
libimobile-suite-latest_w64/inetcat.exe
libimobile-suite-latest_w64/iproxy.exe
libimobile-suite-latest_w64/libbrotlicommon.dll
libimobile-suite-latest_w64/libbrotlidec.dll
libimobile-suite-latest_w64/libbrotlienc.dll
libimobile-suite-latest_w64/libcrypto-3-x64.dll
libimobile-suite-latest_w64/libiconv-2.dll
libimobile-suite-latest_w64/libidn2-0.dll
libimobile-suite-latest_w64/libimobiledevice-1.0.dll
libimobile-suite-latest_w64/libimobiledevice-glue-1.0.dll
libimobile-suite-latest_w64/libintl-8.dll
libimobile-suite-latest_w64/libnghttp2-14.dll
libimobile-suite-latest_w64/libnghttp3-9.dll
libimobile-suite-latest_w64/libplist++-2.0.dll
libimobile-suite-latest_w64/libplist-2.0.dll
libimobile-suite-latest_w64/libpsl-5.dll
libimobile-suite-latest_w64/libssh2-1.dll
libimobile-suite-latest_w64/libssl-3-x64.dll
libimobile-suite-latest_w64/libtatsu.dll
libimobile-suite-latest_w64/libunistring-5.dll
libimobile-suite-latest_w64/libusbmuxd-2.0.dll
libimobile-suite-latest_w64/libzstd.dll
libimobile-suite-latest_w64/plistutil.exe
libimobile-suite-latest_w64/zlib1.dll
libimobiledevice-v1.4.1-windows-x64-portable/afcclient.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevice_id.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicebackup.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicebackup2.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicebtlogger.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicecrashreport.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicedate.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicedebug.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicedebugserverproxy.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicedevmodectl.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicediagnostics.exe
libimobiledevice-v1.4.1-windows-x64-portable/ideviceenterrecovery.exe
libimobiledevice-v1.4.1-windows-x64-portable/ideviceimagemounter.exe
libimobiledevice-v1.4.1-windows-x64-portable/ideviceinfo.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicename.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicenotificationproxy.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicepair.exe
libimobiledevice-v1.4.1-windows-x64-portable/ideviceprovision.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicescreenshot.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicesetlocation.exe
libimobiledevice-v1.4.1-windows-x64-portable/idevicesyslog.exe
libimobiledevice-v1.4.1-windows-x64-portable/libcrypto-3-x64.dll
libimobiledevice-v1.4.1-windows-x64-portable/libimobiledevice-glue-1.0.dll
libimobiledevice-v1.4.1-windows-x64-portable/libplist-2.0.dll
libimobiledevice-v1.4.1-windows-x64-portable/libssl-3-x64.dll
libimobiledevice-v1.4.1-windows-x64-portable/libusbmuxd-2.0.dll
